<!DOCTYPE html>
<html>
<head>
  
  <title>Admin</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="../static/Dassets/images/logo.png" type="image/x-icon">
  <meta name="description" content="">
  
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic&amp;subset=latin">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900">
  <link rel="stylesheet" href="../static/Dassets/et-line-font-plugin/style.css">
  <link rel="stylesheet" href="../static/Dassets/bootstrap-material-design-font/css/material.css">
  <link rel="stylesheet" href="../static/Dassets/tether/tether.min.css">
  <link rel="stylesheet" href="../static/Dassets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/Dassets/socicon/css/socicon.min.css">
  <link rel="stylesheet" href="../static/Dassets/animate.css/animate.min.css">
  <link rel="stylesheet" href="../static/Dassets/dropdown/css/style.css">
  <link rel="stylesheet" href="../static/Dassets/theme/css/style.css">
  <link rel="stylesheet" href="../static/Dassets/mobirise/css/mbr-additional.css" type="text/css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
        integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="">
  
  
</head>
<body>
<div class="navbar-fixed" id="top">
        <nav class="orange">
            <div class="nav-wrapper">
                <a href="#">
                    <img style="width:64px;margin:0 1rem;" class="circle responsive-img" src="../static/blog/logon.jfif"
                        alt="">
                </a>
                <a href="#" class="brand-logo">
                        <font face="Times new roman">Administrator's Dashboard</font>                </a>
                <ul id="nav" class="right">
                    <!-- {% include 'includes/navbar.html' %} -->
                    <li><a id="home_nav" href="../index.html">Home</a></li>
                    <!-- {% if user.is_authenticated %} -->
                    <!-- <li><a href="/account">{{user.username|title}}</a></li>
                        <li><a href="/logout">Logout</a></li>
                        {% else %} -->
                    <li><a id="login_account_nav" href="../login.html">Login</a></li>
                    <li><a id="signup_logout_nav" href="../signup.html">Signup</a></li>
                    <!-- {% endif %} -->
                    <li><a id="about_nav" href="../about.html">About</a></li>
                    <li><a id="emenu_nav" href="../eMenu.html">E-Menu</a></li>
                </ul>
            </div>
        </nav>
    </div>

<section class="engine"><a rel="external" href="https://google.com"></a></section><section class="mbr-cards mbr-section mbr-section-nopadding mbr-parallax-background mbr-after-navbar" id="features2-0" style="background-image: url(../static/Dassets/images/bg-2000x1013-24.jpg); 
 background-size: cover; scroll-behavior: smooth;">

        <div class="mbr-overlay" style="opacity: 0.1; background-color: rgb(34, 34, 34);">
        </div>

    <div class="mbr-cards-row row striped">

        <div class="mbr-cards-col col-xs-12 col-lg-3" style="padding-top: 160px; padding-bottom: 120px;">
            <div class="container">
                <div class="card cart-block">
                    <div class="card-img"><a href="../account.html" class="etl-icon icon-profile-male mbr-iconfont mbr-iconfont-features2"></a></div>
                    <div class="card-block">
                        <h4 class="card-title">Account</h4>
                        <h5 class="card-subtitle"></h5>
                        <p class="card-text"></p>
                        <div class="card-btn"> <a href="../account.html" class="btn btn-danger">ENTER</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mbr-cards-col col-xs-12 col-lg-3" style="padding-top: 160px; padding-bottom: 120px;">
            <div class="container">
                <div class="card cart-block">
                    <div class="card-img"><a href="./orders.html" class="etl-icon icon-basket mbr-iconfont mbr-iconfont-features2" style="color: rgb(255,200,255);"></a></div>
                    <div class="card-block">
                        <h4 class="card-title">Orders</h4>
                        <h5 class="card-subtitle"></h5>
                        <p class="card-text"></p>
                        <div class="card-btn"><a href="./orders.html" class="btn btn-warning">ENTER</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mbr-cards-col col-xs-12 col-lg-3" style="padding-top: 160px; padding-bottom: 120px;">
            <div class="container">
                <div class="card cart-block">
                    <div class="card-img"><a href="../eMenu.html" class="etl-icon icon-pricetags mbr-iconfont mbr-iconfont-features2"></a></div>
                    <div class="card-block">
                        <h4 class="card-title">Product Management</h4>
                        <h5 class="card-subtitle"></h5>
                        <p class="card-text"></p>
                        <div class="card-btn"><a href="../eMenu.html" class="btn btn-info">ENTER</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mbr-cards-col col-xs-12 col-lg-3" style="padding-top: 160px; padding-bottom: 120px;">
            <div class="container">
                <div class="card cart-block">
                    <div class="card-img"><a href="./stats.html" class="etl-icon icon-bargraph mbr-iconfont mbr-iconfont-features2" style="color: rgb(255,200,255);"></a></div>
                    <div class="card-block">
                        <h4 class="card-title">Statistics</h4>
                        <h5 class="card-subtitle"></h5>
                        <p class="card-text"></p>
                        <div class="card-btn"><a href="./stats.html" class="btn btn-success">ENTER</a></div>
                    </div>
                </div>
            </div>
        </div>
        
        
    </div>
</section>

<footer class="page-footer orange">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">Design Engineering Project</h5>
                        <p class="grey-text text-lighten-4"></p>
                    </div>
                    <div class="col 5 offset-2 s12">
                        <ul>
                            <li><a class="white-text text-lighten-3" href="#!">
                                    <h5>Contact us @: 6353896086</h5>
                                </a></li>
                            <li><a class="white-text text-lighten-3" href="#!">
                                    <h5>
                                        <h5>
                                </a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    © 2019
                    <a class="grey-text text-lighten-4 right" href="#top">TO THE TOP</a>
                </div>
            </div>
        </footer>


  <script src="../static/Dassets/web/assets/jquery/jquery.min.js"></script>
  <script src="../static/Dassets/tether/tether.min.js"></script>
  <script src="../static/Dassets/bootstrap/js/bootstrap.min.js"></script>
  <script src="../static/Dassets/smooth-scroll/SmoothScroll.js"></script>
  <script src="../static/Dassets/viewportChecker/jquery.viewportchecker.js"></script>
  <script src="../static/Dassets/dropdown/js/script.min.js"></script>
  <script src="../static/Dassets/touchSwipe/jquery.touchSwipe.min.js"></script>
  <script src="../static/Dassets/jarallax/jarallax.js"></script>
  <script src="../static/Dassets/theme/js/script.js"></script>
  
  
  <input name="animation" type="hidden">
  </body>
</html>